block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" type="image/png" href="./favicons/favicon.png")
    link(href=require('../styles/main.scss') rel='stylesheet')
  body(class=pageClass)
    .svg-sprite
      include ../assets/sprites/sprite.svg
    .main-wrapper
      block content

    script(src=require('../app/main.js'))
