footer.footer
  .footer__part
  .footer__part.footer__part--text-center
    .footer__copyrights Copyright © 2023
  .footer__part.footer__part--text-right
    a.footer__link(href="./documents/rules.pdf" target="_blank") Rules