extends Templates/index

block variables
    - var title = 'About | Webpack 5 starter'
    - var pageClass = 'about-page'

block content
  include Blocks/header/header
  include Blocks/content/content
  include Blocks/footer/footer

