extends Templates/index

block variables
    - var title = 'Products | Webpack 5 starter'
    - var pageClass = 'products-page'

block content
  include Blocks/header/header
  include Blocks/content/content
  include Blocks/footer/footer

