header.header
  nav.header__nav
    ul.header__nav-list
      li.header__nav-item
        a(href="./").header__nav-link Main
      li.header__nav-item
        a(href="./products.html").header__nav-link Products
      li.header__nav-item
        a(href="./about.html").header__nav-link About
  a(href="https://github.com/ShkredovDmitriy/ds-webpack5-starter" target="_blank").header__link
    include ../../assets/images/icon-github.svg
