// COLORS
$color-white: #ffffff;
$color-red: #ff0000;
$color-blue: #3158b3;
$color-black: #000000;

// FONTS
$font-main: arial, helvetica, sans-serif;
$font-main-regular: 'Roboto-Regular', helvetica, sans-serif;
$font-main-medium: arial, helvetica, sans-serif;
